#title {
    text-align: center;
    font-size: 40px;
    margin: 25px;
}

.buttons{
    text-align: center;
    margin-bottom: 20px;
    
}
#container {
    display: grid;
    border-radius: 8px;
    border: 10px solid black;
    height: 640px;
    width: 640px;
    margin: 45px auto;
    padding: 0;

}
.cell {
    background-color: white;
    border: 1px solid gray;   
}